<!DOCTYPE html>
<html lang='ch'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='init-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no'>
        <meta name='description' content='时光盛典'>
        <title>时光盛典</title>
        <link rel='stylesheet' href='web/css/idangerous.swiper.css' />
        <style>
            html, body { padding: 0; }
            body { margin: 0 auto; font-family: '黑体'; }
            img { border: none; }
            ul, li { list-style-type: none; margin: 0; padding: 0; }
            a { text-decoration: none; color: #555; }
            a[href^='http://tongji.baidu.com'] { display: none; }
            #container { width: 100%; position: relative; }
            .swiper-container { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
            
            .unselectable {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }
            .swiper-wrapper {
                -webkit-perspective: 1200px;
                -moz-perspective: 1200px;
                -ms-perspective: 1200px;
                perspective: 1200px;
            }
            .swiper-slide-raw {
                display: none;
            }
            .swiper-slide {
                position: relative;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
                width: 100%; min-height: 320px;
            }
            @-webkit-keyframes bounce {
                0%, 20%, 53%, 80%, 100% {
                    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    -webkit-transform: translate3d(0,0,0);
                    transform: translate3d(0,0,0);
                }

                40%, 43% {
                    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                    -webkit-transform: translate3d(0, -10px, 0);
                    transform: translate3d(0, -10px, 0);
                }

                70% {
                    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                    -webkit-transform: translate3d(0, -5px, 0);
                    transform: translate3d(0, -5px, 0);
                }

                90% {
                    -webkit-transform: translate3d(0,-1px,0);
                    transform: translate3d(0,-1px,0);
                }
            }
            @keyframes bounce {
                0%, 20%, 53%, 80%, 100% {
                    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    -webkit-transform: translate3d(0,0,0);
                    transform: translate3d(0,0,0);
                }

                40%, 43% {
                    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                    -webkit-transform: translate3d(0, -10px, 0);
                    transform: translate3d(0, -10px, 0);
                }

                70% {
                    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                    -webkit-transform: translate3d(0, -5px, 0);
                    transform: translate3d(0, -5px, 0);
                }

                90% {
                    -webkit-transform: translate3d(0,-1px,0);
                    transform: translate3d(0,-1px,0);
                }
            }
            .pointer-arrow {
                position: absolute; z-index: 10; bottom: 2px; left: 150px; width: 45px; height: 32px;
                animation: bounce 1.5s infinite;
                -webkit-animation: bounce 1.5s infinite;
            }
            .pointer-arrow img { width: 100%; }
            .expand {
                -webkit-animation: expand 3s linear;
                animation: expand 3s linear;
            }
            .topleaf { display: none; position: absolute; z-index: 10; top: 0px; }
            .topleaf.left {  left: 0px; width: 128px; }
            .topleaf.right { right: 0px; width: 165px; }
            .w100content { width: 100%; }
            .centerwrapper { position: relative; width: 100%; text-align: center; }
            .indexpage {
                position: absolute; width: 100%; height: 100%; z-index: 5;
                background: transparent url('web/images/indexbg.jpg') no-repeat top center;
                background-size: cover;
            }
            .indexpage .logo { display: none; width: 180px; height: 180px; margin-top: 40px; }
            .indexpage .box { display: block; position: absolute; top: 0px; width: 100%; }
            .indexpage .tapopen { display: block; position: absolute; z-index: 10; top: 320px; width: 100%; height: 200px; }
            
            .page0 .arrow { width: 31px; margin: 0 auto; }
            .page0 .arrow img { position: absolute; top: 343px; width: 31px; }
            
            #demotxt {
                width: 100%; height: 0px;
                background: transparent url('web/images/title/p1txt.png') no-repeat top center;
                background-size: cover;
                position: absolute; top: 255px;
            }
            {% for i in 1..6 %}
            .contentpage{{ i }} {
                background: transparent url('web/images/content/p{{ i }}bg.jpg') no-repeat top center;
                background-size: cover;                
            }
            .contentpage{{ i }} .content-text-wrapper {
                position: absolute; top: 255px; text-align: center; width: 100%;
            }
            .contentpage{{ i }} .content-text {
                display: inline-block; width: 320px; height: 0px;
                background: transparent url('web/images/content/p{{ i }}txt.png') no-repeat top center;
                background-size: 320px 114px;
            }
            {% endfor %}
            .summary-page {
                background: transparent url('web/images/summarybg.jpg') no-repeat top center;
                background-size: cover;                
            }
            .summary-page .summary-text-wrapper {
                position: absolute; top: 220px; text-align: center; width: 100%;
            }
            .summary-page .summary-text {
                display: inline-block; width: 320px; height: 0px;
                background: transparent url('web/images/summarytext.png') no-repeat top center;
                background-size: 320px 160px;
            }
            .end-page {
                background: transparent url('web/images/getorskip.jpg') no-repeat top center;
                background-size: cover;
            }
            .end-page .btnswrapper { position: absolute; width: 100%; top: 360px; text-align: center; }
            .btnget { display: inline-block; width: 253px; opacity: 0; }
            .btnskip { display: inline-block; width: 117px; opacity: 0; }
            .btnget img, .btnskip img { width: 100%; }
            
            .toys-wrapper {position: absolute; bottom: 0; width: 100%; }
            .toys-wrapper .toys { margin: 0 auto; position: relative; width: 300px; }
            .toys-wrapper .toys .toy { position: absolute; }
            @media all and (min-width: 350px) {
                .content-text-wrapper {
                    top: 268px !important;
                }
            }
        </style>
    </head>
    <body>
        
        <div id='container'>
            <img class='unselectable topleaf left' src='web/images/topleftleaf.png' />
            <img class='unselectable topleaf right' src='web/images/toprightleaf.png' />

            <div class='indexpage'>
                <div class='centerwrapper'><img class='logo' src='web/images/logo.png' /></div>
                <img class='box' src='web/images/boxv2.png' />
                <a class='tapopen' href='#'></a>
            </div>
            
            <div class='swiper-container'>
                <div class='pointer-arrow'><img src='web/images/pullup.png' /></div>
                
                <div class='swiper-wrapper'>
                    <div class='swiper-slide page1'>
                        <img class='w100content' src='web/images/page1.jpg' />
                    </div>        
                    
                    {% for i in 1..6 %}
                    <div class='swiper-slide page{{ i+1 }} contentpage{{ i }}'>
                        <div class='content-text-wrapper'>
                            <div class='content-text'></div>
                        </div>
                        <div class='toys-wrapper'>
                        <div class='toys'>
                            {% if i == 1 %}
                            <img class='toy' style='bottom:72px; right:102px; width: 59px;' src="web/images/toys/{{ i }}1.png">
                            <img class='toy' style='bottom:97px; right:57px; width: 68px;' src="web/images/toys/{{ i }}2.png">
                            <img class='toy' style='bottom:103px; right:14px; width: 48px;' src="web/images/toys/{{ i }}3.png">
                            {% elseif i == 2 %}
                            <img class='toy' style='bottom:72px; right:102px; width: 72px;' src="web/images/toys/{{ i }}1.png">
                            <img class='toy' style='bottom:112px; right:65px; width: 40px;' src="web/images/toys/{{ i }}2.png">
                            <img class='toy' style='bottom:73px; right:13px; width: 67px;' src="web/images/toys/{{ i }}3.png">
                            {% elseif i == 3 %}
                            <img class='toy' style='bottom:80px; right:122px; width: 68px;' src="web/images/toys/{{ i }}1.png">
                            <img class='toy' style='bottom:90px; right:55px; width: 72px;' src="web/images/toys/{{ i }}2.png">
                            <img class='toy' style='bottom:88px; right:0; width: 38px;' src="web/images/toys/{{ i }}3.png">
                            {% elseif i == 4 %}
                            <img class='toy' style='bottom:72px; right:102px; width: 79px;' src="web/images/toys/{{ i }}1.png">
                            <img class='toy' style='bottom:97px; right:45px; width: 72px;' src="web/images/toys/{{ i }}2.png">
                            <img class='toy' style='bottom:133px; right:2px; width: 45px;' src="web/images/toys/{{ i }}3.png">
                            {% elseif i == 5 %}
                            <img class='toy' style='bottom:72px; right:87px; width: 104px;' src="web/images/toys/{{ i }}1.png">
                            <img class='toy' style='bottom:132px; right:58px; width: 51px;' src="web/images/toys/{{ i }}2.png">
                            <img class='toy' style='bottom:91px; right:33px; width: 62px;' src="web/images/toys/{{ i }}3.png">
                            {% elseif i == 6 %}
                            <img class='toy' style='bottom:91px; right:130px; width: 54px;' src="web/images/toys/{{ i }}1.png">
                            <img class='toy' style='bottom:120px; right:72px; width: 49px;' src="web/images/toys/{{ i }}2.png">
                            <img class='toy' style='bottom:82px; right:18px; width: 71px;' src="web/images/toys/{{ i }}3.png">
                            {% endif %}
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    <div class='swiper-slide summary-page'>
                        <div class='summary-text-wrapper'>
                            <div class='summary-text'></div>
                        </div>
                    </div>
                    
                    <div class='swiper-slide end-page'>
                        <div class='btnswrapper'>
                            <a class='btnget' href='getbox.php'><img src='web/images/form/btnget.png' /></a>
                            <a class='btnskip' href='participate.php'><img src='web/images/form/btnskip.png' /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src='web/js/jquery-1.10.1.min.js'></script>
        <script src='web/js/velocity.min.js'></script>
        <script src='web/js/velocity.ui.min.js'></script>
        <script src='web/js/idangerous.swiper.min.js'></script>
        <script src='web/js/idangerous.swiper.progress.min.js'></script>
        <script>
            var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
            var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
            $('#container').css('height', h + 'px');
            
            var aniBegin = function(els) {
                $(els).addClass('animated');
            };
            
            $(function(){
                $('.indexpage .logo').velocity('transition.expandIn', { duration: 1000, delay: 500 });
                $('.topleaf.left').velocity('transition.slideLeftIn');
                $('.topleaf.right').velocity('transition.slideRightIn');
                setInterval(function(){
                    $('.indexpage .box').velocity('callout.shake');
                }, 3000);
                $('.indexpage .tapopen').click(function(e){
                    e.preventDefault();
                    $('.indexpage').velocity('fadeOut');
                });
                
                var fadeInTimer;
                var mySwiper = new Swiper('.swiper-container',{
                    mode: 'vertical',
                    progress: true,
                    longSwipesRatio: 0.1,
                    // touchRatio: 0.5,
                    // shortSwipes: false,
                    onProgressChange: function(swiper){
                        //fade
                        for (var i = 0; i < swiper.slides.length; i++){
                            var slide = swiper.slides[i];
                            var progress = slide.progress;
                            var translate = progress*swiper.height;  
                            var opacity = 1 - Math.min(Math.abs(progress),1);
                            slide.style.opacity = opacity;
                            swiper.setTransform(slide,'translate3d(0, '+translate+'px,0)');
                        }
                    },

                    onSlideChangeEnd: function(swiper){
                        var index = swiper.activeIndex + 1;
                        // $('.animated').removeAttr('style');
                        
                        $('.page' + index).addClass('viewed');
                        if (index >= 2 && index <=7 ) {
                            $('.page' + index + ' .content-text').velocity({
                                height: 114
                            }, { duration: 1500 });
                        } else if (index == 8) {
                            $('.summary-text').velocity({
                                height: 160
                            }, { duration: 1500 });
                        } else if (index == 9) {
                            $('.btnswrapper a').velocity('transition.slideUpBigIn', { stagger: 100 });
                        }
                    },
                    onTouchStart:function(swiper){
                        for (var i = 0; i < swiper.slides.length; i++){
                            swiper.setTransition(swiper.slides[i], 0);
                        }
                        if (fadeInTimer) {
                            window.clearTimeout(fadeInTimer);
                        }
                        $('.pointer-arrow').velocity('fadeOut');
                    },
                    onTouchEnd: function(swiper) {
                        if (swiper.activeIndex != swiper.slides.length - 1) {
                            fadeInTimer = window.setTimeout(function(){
                                $('.pointer-arrow').velocity('fadeIn');
                            }, 1500);
                        }
                    },
                    onSetWrapperTransition: function(swiper, speed) {
                        for (var i = 0; i < swiper.slides.length; i++){
                            swiper.setTransition(swiper.slides[i], speed);
                        }
                    }
                });
                // Set Z-Indexes
                for (var i = 0; i < mySwiper.slides.length; i++){
                    mySwiper.slides[i].style.zIndex = i;
                }
            }); // end of dom
            
            var lineLink = 'http://neone.com.cn/sntime';
            var imgUrl = 'http://kail-common.b0.upaiyun.com/xushare.jpg';
            var shareTitle = '时光盛典';
            var descContent = '敬请期待12月8日时光盛典正式开启！';
            var appid = '';

            function shareFriend() {
                WeixinJSBridge.invoke('sendAppMessage',{
                    "appid": appid,
                    "img_url": imgUrl,
                    "img_width": "80",
                    "img_height": "80",
                    "link": lineLink,
                    "desc": descContent,
                    "title": shareTitle
                }, function(res) {
                    //_report('send_msg', res.err_msg);
                })
            }
            function shareTimeline() {
                WeixinJSBridge.invoke('shareTimeline',{
                    "img_url": imgUrl,
                    "img_width": "80",
                    "img_height": "80",
                    "link": lineLink,
                    "desc": descContent,
                    "content": descContent,
                    "title": descContent
                }, function(res) {
                    //_report('timeline', res.err_msg);
                });
            }
            function shareWeibo() {
                WeixinJSBridge.invoke('shareWeibo',{
                    "img_url": imgUrl,
                    "img_width": "80",
                    "img_height": "80",
                    "content": descContent,
                    "title": shareTitle,
                    "url": lineLink,
                }, function(res) {
                    //_report('weibo', res.err_msg);
                });
            }
            // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                // 发送给好友
                WeixinJSBridge.on('menu:share:appmessage', function(argv){
                    shareFriend();
                });
                // 分享到朋友圈
                WeixinJSBridge.on('menu:share:timeline', function(argv){
                    shareTimeline();
                });
                // 分享到微博
                WeixinJSBridge.on('menu:share:weibo', function(argv){
                    shareWeibo();
                });
            }, false);
        </script>
    </body>
</html>